.home {
  font-style: italic;
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/homeImage.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(61, 33, 33);
  text-align: center;
}

.home h1 {
  margin-left: 4rem;
}

.home p {
  font-weight: bold;
  margin-left: 4rem;
  font-size: 2rem;
  margin-top: -1rem;
}

.home span {
  margin: 0 0.2rem;
  font-size: 4rem;
  cursor: pointer;
}

.home span:hover {
  border-bottom: 1px solid black;
}
